<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.Office" version="2.15" targetFramework="net47" />
  <package id="GemBox.Document" version="27.3.30.1119" targetFramework="net47" />
  <package id="Independentsoft.Office" version="2.0.460" targetFramework="net47" />
</packages>